* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/feeds/blood.jsp -text
WebContent/feeds/characteristics.jsp -text
WebContent/feeds/characteristics_misc.jsp -text
WebContent/feeds/charlson.jsp -text
WebContent/feeds/charlson_dashboard.jsp -text
WebContent/feeds/charlson_scatter.jsp -text
WebContent/feeds/count_by_age.jsp -text
WebContent/feeds/count_by_race.jsp -text
WebContent/feeds/domain_team_roster.jsp -text
WebContent/feeds/dta_roster.jsp -text
WebContent/feeds/dua_roster.jsp -text
WebContent/feeds/fact_sheet.jsp -text
WebContent/feeds/filled.jsp -text
WebContent/feeds/machine_learning_dashboard.jsp -text
WebContent/feeds/map_data.jsp -text
WebContent/feeds/meds.jsp -text
WebContent/feeds/meds_by_class.jsp -text
WebContent/feeds/models.jsp -text
WebContent/feeds/peak.jsp -text
WebContent/feeds/project_roster.jsp -text
WebContent/feeds/severity.jsp -text
WebContent/feeds/severity_detail.jsp -text
WebContent/feeds/severity_temp.jsp -text
WebContent/feeds/siteLocations.jsp -text
WebContent/feeds/siteRoster.jsp -text
WebContent/feeds/total_by_source_count_weekly_int.jsp -text
WebContent/footer.jsp -text
WebContent/graph_support/cohort_map.jsp -text
WebContent/graph_support/cohort_map_legend.jsp -text
WebContent/graph_support/grouped_bar.jsp -text
WebContent/graph_support/labelledMap.jsp -text
WebContent/graph_support/map_data.jsp -text
WebContent/graph_support/n3c_fact_sheet.jsp -text
WebContent/graph_support/pieChart.jsp -text
WebContent/graph_support/pyramid.jsp -text
WebContent/graph_support/scatterplot.jsp -text
WebContent/graph_support/site_map.jsp -text
WebContent/graph_support/us-states.json -text
WebContent/graph_support/us_states.jsp -text
WebContent/graph_support/verticalBarChart.jsp -text
WebContent/graph_support/verticalBarChart_v4.jsp -text
WebContent/graphs/blood.jsp -text
WebContent/graphs/blood_by_severity.jsp -text
WebContent/graphs/blood_by_type.jsp -text
WebContent/graphs/characteristics.jsp -text
WebContent/graphs/characteristics_ethnicity.jsp -text
WebContent/graphs/characteristics_gender.jsp -text
WebContent/graphs/characteristics_misc.jsp -text
WebContent/graphs/characteristics_payer.jsp -text
WebContent/graphs/characteristics_race.jsp -text
WebContent/graphs/charlson.jsp -text
WebContent/graphs/charlson_scatter.jsp -text
WebContent/graphs/clinical.jsp -text
WebContent/graphs/collaborative.jsp -text
WebContent/graphs/columnFreqData.jsp -text
WebContent/graphs/dashboard.jsp -text
WebContent/graphs/home.jsp -text
WebContent/graphs/labs.jsp -text
WebContent/graphs/medications.jsp -text
WebContent/graphs/medications_by_medication.jsp -text
WebContent/graphs/medications_by_severity.jsp -text
WebContent/graphs/ml.jsp -text
WebContent/graphs/rowFreqData.jsp -text
WebContent/graphs/scatter.jsp -text
WebContent/graphs/severity.jsp -text
WebContent/graphs/severity_ethnicity.jsp -text
WebContent/graphs/severity_gender.jsp -text
WebContent/graphs/severity_misc.jsp -text
WebContent/graphs/severity_payer.jsp -text
WebContent/graphs/severity_race.jsp -text
WebContent/graphs/severity_smoking.jsp -text
WebContent/graphs/tables.jsp -text
WebContent/head.jsp -text
WebContent/images/n3c_logo.png -text
WebContent/index.jsp -text
WebContent/index2.jsp -text
WebContent/index_prod.jsp -text
WebContent/navbar.jsp -text
WebContent/resources/MT.BootstrapLazyloader.js -text
WebContent/resources/autocomplete.css -text
WebContent/resources/autocomplete.js -text
WebContent/resources/d3-tip.js -text
WebContent/resources/d3.tip.v0.6.3.js -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/main_style.css -text
WebContent/resources/n3c_login_style.css -text
WebContent/sites/mapping.jsp -text
WebContent/sites/submit_mapping.jsp -text
WebContent/tables/blood.jsp -text
WebContent/tables/characteristics.jsp -text
WebContent/tables/charlson.jsp -text
WebContent/tables/charlson_dashboard.jsp -text
WebContent/tables/datatableC.html -text
WebContent/tables/domain_team_roster.jsp -text
WebContent/tables/dta_roster.jsp -text
WebContent/tables/dua_roster.jsp -text
WebContent/tables/filled.jsp -text
WebContent/tables/jquery.hottie.js -text
WebContent/tables/machine_learning_dashboard.jsp -text
WebContent/tables/meds.jsp -text
WebContent/tables/models.jsp -text
WebContent/tables/overall_stats.jsp -text
WebContent/tables/peak.jsp -text
WebContent/tables/project_roster.jsp -text
WebContent/tables/severity.jsp -text
WebContent/tables/site_roster.jsp -text
/pom.xml -text
