* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/feeds/blood.jsp -text
WebContent/feeds/characteristics.jsp -text
WebContent/feeds/charlson.jsp -text
WebContent/feeds/filled.jsp -text
WebContent/feeds/meds.jsp -text
WebContent/feeds/models.jsp -text
WebContent/feeds/peak.jsp -text
WebContent/feeds/severity.jsp -text
WebContent/footer.jsp -text
WebContent/graph_support/pieChart.jsp -text
WebContent/graph_support/verticalBarChart.jsp -text
WebContent/graphs/blood.jsp -text
WebContent/graphs/blood_by_severity.jsp -text
WebContent/graphs/blood_by_type.jsp -text
WebContent/graphs/charlson.jsp -text
WebContent/graphs/columnFreqData.jsp -text
WebContent/graphs/rowFreqData.jsp -text
WebContent/head.jsp -text
WebContent/images/n3c_logo.png -text
WebContent/index.jsp -text
WebContent/navbar.jsp -text
WebContent/resources/autocomplete.css -text
WebContent/resources/autocomplete.js -text
WebContent/resources/d3.v3.min.js -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/n3c_login_style.css -text
WebContent/tables/blood.jsp -text
WebContent/tables/characteristics.jsp -text
WebContent/tables/charlson.jsp -text
WebContent/tables/filled.jsp -text
WebContent/tables/meds.jsp -text
WebContent/tables/models.jsp -text
WebContent/tables/peak.jsp -text
WebContent/tables/severity.jsp -text
/pom.xml -text
